$dark-dark: #222;
$text-color: #fff;

// CSS Reset
*,
p {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: $text-color !important;
	text-decoration: none;
}

body {
	background: #444;
	color: $text-color;

	// Header styles
	header#masthead {
		background: $dark-dark;
		display: flex;
		color: $text-color;
		padding: 30px 24px;

		.site-branding {
			min-width: 350px;

			.site-title {
				font-weight: bold;
				font-size: 2rem;
			}
		}

		#site-navigation {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			#primary-menu {
				width: 100%;
				display: flex;
				justify-content: flex-end;

				.nav-menu {
					li {
						margin-right: 1.5rem;
					}
				}
			}
		}
	}

	// Main styles
	main#primary {
		text-align: center;
		max-width: 1000px !important;
		margin: auto;
	}

	// Footer styles
	footer#colophon {
		background: $dark-dark;
		padding: 1rem;
		position: fixed;
		width: 100%;
		bottom: 0;
	}
}
